:root {
  --font-size: 25px;
  --font-color: black;
}
body {
  margin: 0px;
  font-family: Nanum Pen Script;
  font-size: var(--font-size);
}
a {
  text-decoration: none;
  color: var(--font-color);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 8px 12px;  
}
.navbar_logo {
  font-size: calc(var(--font-size)*2);
  color: var(--font-color);
  transition: transform 300ms ease;
}
.navbar_logo:hover {
  transform: scale(1.05);
}
.navbar_logo i {
  color: #d49466;
}
.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.navbar_menu li {
  padding: 20px 20px;
}
.navbar_menu li:hover{
  background-color: #d49466;
  border-radius: 4px;
}
.navbar_icons {
  list-style: none;
  color: var(--font-color);
  display: flex;
  padding-left: 0px;
}
.navbar_icons>li {
  padding: 8px 12px;
}
.navbar_toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  top: 15px;
  font-size: calc(var(--font-size)*1.5);
  color: #d49466;
  transition: transform 300ms ease;
}

@media screen and (max-width:850px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar_menu li {
    width: 100%;
    text-align: center;
  }
  .navbar_icons {
    display: none;
    justify-content: center;
    width: 100%;
  }
  .navbar_toggleBtn {
    display: block;
  }
  .navbar_toggleBtn:hover {
    transform: scale(1.1);
  }
  .navbar_menu.active,
  .navbar_icons.active {
    display: flex;
  }
}
